name: Deploy Cloudflare Worker

on:
  push:
    paths:
      - 'workers/generate/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Publish Worker
        uses: cloudflare/wrangler-action@2
        with:
          apiToken: ${{ secrets.CF_API_TOKEN }}
          command: publish
        env:
          CF_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
        working-directory: ./workers/generate
